@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --border: 240 6% 90%;
    --muted-foreground: 240 4% 46%;
  }

  body {
    @apply bg-background text-foreground;
  }
}
